.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1),
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(2),
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(3){padding:0;border:0;width:33.33%}
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1) .post_thumb,
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(2) .post_thumb,
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(3) .post_thumb{padding:0 10px;margin:0 0 10px;height:450px}
@media(min-width:551px){.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1),
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(2),
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(3){width:33.33%}
}
@media(max-width:550px){.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1){width:100%}
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(2),
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(3){width:50%}
}
@media(max-width:480px){.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1){width:100%}
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(1) .post_thumb,
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(2) .post_thumb,
.blog-posts[data-box-shadow="false"][data-layout="list"] .post:nth-of-type(3) .post_thumb{padding:0 0px;margin:0 0 10px;height:450px}
}
